causal-learn==0.1.4.1
cdt==0.6.0
clingo==5.8.0
gcastle==1.0.4
igraph==0.11.8
joblib==1.5.0
networkx==3.4.2
numpy==1.26.4
pandas==2.2.3
pgmpy==1.0.0
Pillow==11.2.1
plotly==6.3.0
python-javabridge==4.0.4
pydantic==2.12.3
pydot==3.0.4
pyparsing==3.2.3
pytest==8.3.5
rustworkx==0.17.1
scikit-learn==1.6.1
scipy==1.15.3
statsmodels==0.14.4
torch==2.7.0
tqdm==4.67.1
