networkx
rustworkx
pandas
numpy
scikit-learn
tqdm
ipykernel
igraph
pydot
clingo
pgmpy
nbformat
pmlb
pydantic
pyagrum
#python-javabridge
pyparsing
torch
causal-learn
litellm
instructor
gcastle 
cdt
git+https://github.com/xunzheng/notears
### the below has to be run in the terminal
#>>> pip install git+https://github.com/bd2kccd/py-causal --no-deps --no-dependencies
#>>> conda create -n potassco -c conda-forge clingo
#>>> conda activate potassco
