tqdm==4.67.1
numpy==1.26.4
pandas==2.2.3
notebook==7.4.1
clingo==5.8.0
python-sat==1.8.dev16
networkx==3.4.2
scikit-learn==1.6.1
ipykernel==6.29.5
igraph==0.11.8
pydot==1.4.2
pgmpy==1.0.0
nbformat==5.10.4
pmlb==1.0.1.post3
causal-learn==0.1.4.1
gcastle==1.0.4
torch==2.7.0
cdt==0.6.0
pytest==8.3.5
pytest-mock==3.14.0
python-javabridge==4.0.4
graphviz==0.21
plotly==6.1.1
kaleido==0.2.1

